{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> </head>

<body>
	<div class="container">
		<div class="d-flex justify-content-center mt-5">
			<div class="card" style="width: 500px;">
				<div class="card-header text-center">
					<a class="navbar-brand" href="{% url 'home_page' %}">
						<div><img src="https://lh3.googleusercontent.com/lpOEDLcrHECiDtFaWRA8szt3-qhFilrqkuMBnUa8U5OoU2Jc8uKo1xnuaWK5v4kxV9E=w300" alt="" height="75"></div>
						<div>To_Do_List</div>
					</a>
				</div>
				<div class="card-body text-center">
					<h1>Login</h1>
					<form action="{% url 'login' %}?next={{ request.GET.next }}" method="POST" class=""> {% csrf_token %} {% if has_error %}
						<p>Invalid username or password!</p> {% endif %}
						<div class="input-group mb-3"> <span for="username" class="input-group-text" style="width: 100px;">Username</span>
							<input type="text" name="username" id="username" class="form-control"> </div>
						<div class="input-group mb-3"> <span for="password" class="input-group-text" style="width: 100px;">Password</span>
							<input type="password" name="password" id="password" class="form-control"> </div>
						<button type="submit" class="btn btn-primary">Login</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>