{% extends 'base.html' %}

{% block content %}
<h1>Registration</h1>
    <form action="{% url 'register' %}?next={{ request.GET.next }}" method="POST">
    {% csrf_token %}
<div class="w-50">
    {% for error in form.non_field_errors %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endfor %}

    {% for field in form %}
        <div class="mb-3">
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label}}</label>
            {{ field }}
            {% for error in field.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
    {% endfor %}
</div>
    <button type="submit" class="btn btn-primary mt-3">Register</button>
    </form>
{% endblock %}