{% extends 'base.html' %}
{% load static %}

{% block title%}User's profile{% endblock %}

{% block user_menu %}
    <a href="{% url 'user_edit' %}" class="btn btn-outline-primary">Edit profile</a>
    <a href="{% url 'password_change' %}" class="btn btn-outline-primary">Change password</a>
{% endblock %}

{% block content %}


<div class="card m-3" style="max-width: 1050px;">
  <div class="row">
    <div class="col">
        {% if user_obj.profile.avatar %}
            <img src="{{ user_obj.profile.avatar.url }}" alt="" class="img-fluid rounded-start">
        {% else %}
            <img src="{% static 'images/default.jpg' %}" alt="" class="img-fluid rounded-start">
        {% endif%}
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{ user_obj.get_full_name|default:user_obj.username }}</h5>
        <p class="card-text"><b>Username :</b> {{ user_obj.username }}</p>
        <p class="card-text"><b>First name:</b> {{ user_obj.first_name }}</p>
        <p class="card-text"><b>Last name:</b> {{ user_obj.last_name }}</p>
        <p class="card-text"><b>Birth date:</b> {{ user_obj.profile.birth_date|date:"d.m.Y" }}</p>
        <p class="card-text"><b>Email:</b> {{ user_obj.email }}</p>
        <p class="card-text"><b>Phone number: {{ user_obj.profile.phone_number }}</b></p>
      <div class="col-md-6">
        <p class="card-text"><b>Positions:</b></p>
                <ul>
                    {% for group in user_obj.profile.position.all %}
                <li>{{ group.name }}</li>
                     {% endfor %}
                </ul>
      </div>
      </div>
    </div>
  </div>
</div>

    <h2 class="text-center">User's tasks</h2>
    {% include 'partials/task_list.html' %}
{% endblock %}