{% extends 'base.html' %}
{% block content %}
<div class="card">
  <div class="card-body">
    <h1>Error</h1>
      {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
  </div>
</div>
{% endblock %}