<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home_page' %}">To_Do_List<img src="https://lh3.googleusercontent.com/lpOEDLcrHECiDtFaWRA8szt3-qhFilrqkuMBnUa8U5OoU2Jc8uKo1xnuaWK5v4kxV9E=w300" alt="" height="75"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home_page' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'task_list' %}">Task list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'projects_list' %}">Projects list</a>
        </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'my_task_list' %}">My Task</a>
        </li>
            {% endif %}
      </ul>

    </div>
    <div class="d-flex">
    {% if not request.user.is_authenticated %}
    <a class="btn btn-outline-success btn-sm me-3" aria-current="page" href="{% url 'login' %}?next={{ request.get_full_path }}">Login</a>
    <a class="btn btn-outline-secondary btn-sm" aria-current="page" href="{% url 'register' %}?next={{ request.get_full_path }}">Register</a>
    {% else %}
    <div class="d-flex align-items-center me-3">Hello,<a href="{% url 'user_detail' user.pk %}"> {{ user.username }}</a>!</div>
    <a class="btn btn-outline-danger btn-sm" aria-current="page" href="{% url 'logout' %}?next={{ request.get_full_path }}">Logout</a>
    {% endif %}
    </div>
  </div>
</nav>
