{% extends 'base.html' %}

{% block content %}
<div >
    {% if perms.projects.add_projects  %}
        <h2>Projects List <a href="{% url 'project_create' %}" class="btn btn-success m-3">Add New Project</a></h2>
    {% else %}
        <h2>Projects List</h2>
    {% endif %}


</div>

<div class="w-25 mb-3">
  <form method="get" class="d-flex align-items-center" action="{% url 'task_list' %}">
    <input type="text" name="search" placeholder="Search by title" class="form-select form-select-sm me-1">
    <button type="submit" class="btn btn-outline-dark btn-sm">Search</button>
  </form>
</div>

<div class="w-25 mb-3">
    <form method="GET" class="d-flex align-items-center">
        <select name="sort_by" class="form-select form-select-sm me-1" id="sort_by">
                <option value="" selected disabled>Select</option>
                <option value="id">ID</option>
                <option value="name">name</option>
        </select>
                <button type="submit" class="btn btn-outline-dark btn-sm">Sort</button>
    </form>
</div>

    {% include 'partials/pagination.html' %}
{% for projects in object_list %}
    <div class="card m-3">
          <div class="card-header">

  <a href="#" class="list-group-item list-group-item-action">
    Project for -{% for user in projects.users.all %} {{ user.username }}{% endfor %}</a>

          </div>
          <div class="card-body">
            <h5 class="card-title">{{ projects.name }}</h5>
            <p class="card-text">{{ projects.description }}</p>
            <a href="{% url 'project_detail' projects.id %}" class="btn btn-primary">More</a>
          </div>
    </div>
{% endfor %}
    {% include 'partials/pagination.html' %}
{% endblock %}
