{% extends 'base.html' %}

{% block content %}
    <div class="card">
  <div class="card-header">
    Подтверждение удаления project
  </div>
  <div class="card-body">
    <h5 class="card-title">Вы уверены, что хотите удалить project "{{ project.name }}"?</h5>
    <p class="card-text">{{ project.description }}</p>
    <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger m-2">Удалить</button><a href="{% url 'projects_list' %}" class="btn btn-primary" >Отмена</a>
  </form>

  </div>
</div>
{% endblock %}
