{% extends 'base.html' %}


{% block content %}
  <h2>Create Project</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Create Project</button>

  </form>
{% endblock %}
