{% extends 'base.html' %}

{% block content %}
  <h2>Edit project</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}
