{% extends 'base.html' %}

{% block content %}
    <div class="card m-3">
        <div class="card-header">
            <a href="#" class="list-group-item list-group-item-action">
                Detail - Project
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ project.name }}</h5>
            <p class="card-text">{{ project.description }}</p>
            <p class="card-text">Project for - {% for user in project.users.all %} {{ user.username }} {% endfor %}</p>

            <p class="card-text">created at: {{ project.created_at }}</p>
            {% if perms.projects.change_projects and request.user in project.users.all %}
                <a href="{% url 'project_update' project.id %}" class="btn btn-primary">Edit</a>

            {% else %}
                <button class="btn btn-primary" disabled>Edit</button>
                {% if perms.projects.change_users_projects %}
                    <a href="{% url 'project_user_update' project.id %}" class="btn btn-primary">User Edit</a>
                    {% endif %}
            {% endif %}
            {% if perms.projects.delete_projects and request.user in project.users.all %}
                <a href="{% url 'project_delete' project.pk %}" class="btn btn-danger">Delete</a>
            {% else %}
                <button class="btn btn-danger" disabled>Delete</button>
            {% endif %}
        </div>
    </div>

    <h5 class="m-3">Project task</h5>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for task in tasks %}
            <div class="col">
                <div class="card">
                    <div class="card-header"><h5 class="card-title">{{ task.title }}</h5></div>
                    <div class="card-body">

                        <p class="card-text">description - {{ task.description }}</p>
                        <p class="card-text">status - {{ task.status }}</p>
                        <p class="card-text">Tasks for - {% for author in task.author.all %}
                            {{ author.username }} {% endfor %}</p>
                        <p class="card-text">created at: {{ task.created_at }}</p>
                    </div>
                <div class="m-1">
                    {% if perms.tasks.change_task and request.user in task.author.all %}
                        <a href="{% url 'task_update' task.id %}" class="btn btn-primary">Edit</a>
                    {% else %}
                        <button class="btn btn-primary" disabled>Edit</button>
                    {% endif %}
                    {% if perms.tasks.delete_task and request.user in task.author.all %}
                        <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger">Delete</a>
                    {% else %}
                        <button class="btn btn-danger" disabled>Delete</button>
                    {% endif %}
                </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}