{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h2>Create Task</h2>
  <form id="task-form" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Create Task</button>

  </form>
       {% include 'partials/error_modal.html' %}
    {% block js %}
<script>
$("#task-form").submit(function(event) {
    event.preventDefault();

    $.ajax({
        type: "POST",
        url: "{% url 'create_task' %}",
        data: $(this).serialize(),
        success: function(response) {
            window.location.href = "{% url 'task_list' %}";
        },
        error: function(response) {
            if(response.status === 403) {
                $('#errorModalBody').text(response.responseJSON.error);
                $('#errorModal').modal('show');
            }
        }
    });
});
    </script>
        {% endblock %}
{% endblock %}
