{% extends 'base.html' %}

{% block content %}

  <h2>My Task List</h2>

{% for task in user_tasks %}

    <div class="card mt-3">
          <div class="card-header">
  <a href="#" class="list-group-item list-group-item-action">
    Tasks for -{% for author in task.author.all %} {{ author.username }}{% endfor %}
  </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ task.title }}</h5>
            <p class="card-text">{{ task.description }}</p>
            <a href="{% url 'task_detail' task.id %}" class="btn btn-primary">More</a>
          </div>
    </div>

{% endfor %}

{% endblock %}
