{% extends 'base.html' %}

{% block content %}
        <div class="card mt-3">
          <div class="card-header">
  <a href="#" class="list-group-item list-group-item-action">
    Detail - Task
  </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ task.title }}</h5>
            <p class="card-text">{{ task.description }}</p>
            <p class="card-text">Status - {{ task.status }}</p>
            <p class="card-text">Project - {{ task.project }}</p>

            <p class="card-text">Tasks for - {% for author in task.author.all %} {{ author.username }} {% endfor %}</p>

              <p class="card-text">created at: {{ task.created_at }}</p>
              {% if perms.tasks.change_task and request.user in task.author.all %}
            <a href="{% url 'task_update' task.id %}" class="btn btn-primary">Edit</a>
    {% else %}
    <button class="btn btn-primary" disabled>Edit</button>
              {% endif %}
          {% if perms.tasks.delete_task and request.user in task.author.all%}
            <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger">Delete</a>
              {% else %}
    <button class="btn btn-danger" disabled>Delete</button>
              {% endif %}
          </div>
    </div>

{% endblock %}