{% extends 'base.html' %}

{% block content %}

    <div>
    {% if perms.tasks.add_task  %}
  <h2>Task List <a href="{% url 'create_task' %}" class="btn btn-success m-3">Add New Task</a></h2>
        {% else %}
        <h2>Task List</h2>
    {% endif %}
</div>
<div class="w-25 mb-3">
  <form method="get" class="d-flex align-items-center" action="{% url 'task_list' %}">
    <input type="text" name="search" placeholder="Search by title" class="form-select form-select-sm me-1">
    <button type="submit" class="btn btn-outline-dark btn-sm">Search</button>
  </form>
</div>

<div class="w-25 mb-3">
    <form method="GET" class="d-flex align-items-center">
        <select name="sort_by" class="form-select form-select-sm me-1" id="sort_by">
                <option value="" selected disabled>Select</option>
                <option value="id">ID</option>
                <option value="title">title</option>
                <option value="status">status</option>
        </select>
                <button type="submit" class="btn btn-outline-dark btn-sm">Sort</button>
    </form>
</div>

    {% include 'partials/pagination.html' %}
{% for task in object_list %}
    <div class="card mt-3">
          <div class="card-header">

  <a href="#" class="list-group-item list-group-item-action">
    Tasks for -{% for author in task.author.all %} {{ author.username }}{% endfor %}</a>

          </div>
          <div class="card-body">
            <h5 class="card-title">{{ task.title }}</h5>
            <p class="card-text">{{ task.description }}</p>
            <a href="{% url 'task_detail' task.id %}" class="btn btn-primary">More</a>
          </div>
    </div>
{% endfor %}
    {% include 'partials/pagination.html' %}
{% endblock %}
